
.Body
  .Mainvisual
    .Content
      %h2.Content__subtitle 人生を変えるフリマアプリ
      .Content__text FURIMAはだれでもかんたんに出品・購入できる
      %br.text フリマアプリです
      .Content__btn
        %a.aBtn
          %img{height: "53", width: "180", src: "assets/applogo.png"}
        %a.gBtn
          %img{height: "53", width: "180", src: "assets/googlebtn.png"}


  %section.topIntroduction
    %h2.subtitile FURIMAが選ばれる３つの理由
    %ul.lists
      %li.listLeft
        .List_pic
          %img{height: "306", width: "306", src: "assets/pict-reason-01.jpg"}
        %span.number 1
        %h3.list__text 
          %span 3分
          ですぐに出品
        %p.list__explanation スマホで入力するだけで簡単に出品できる！
      %li.listMiddle
        .List_pic
          %img{height: "306", width: "306", src: "assets/pict-reason-02.jpg"}
        %span.number 2 
        %h3.list__text 
          %span シンプル
          で使いやすい
        %p.list__explanation めんどくさい入力は必要なく、検索も購入もスムーズ！
      %li.listRight
        .List_pic
          %img{height: "306", width: "306", src: "assets/pict-reason-03.jpg"}
        %span.number 3
        %h3.list__text 
          手数料 
          %span 業界最安
        %p.list__explanation1 最大3%でお得に出品&購入！
  %section.Topmiddle
    .Topmiddle__inside
      %h2.subtitle 会員数日本一位
      .InnerText
        .text FURIMAは、フリマアプリで最も人気。
        .text 出品・購入回数も業界最多です！
        .text 欲しかったあの商品にも出会えるかもしれません。
      .Content__btn
        .aBtn
          %img{height: "53", width: "180", src: "assets/applogo.png"}
        .gBtn
          %img{height: "53", width: "180", src: "assets/googlebtn.png"}


  .FurimaFeature
    %h2.head FURIMAの特徴
    .Items 
      .Item
        .Item__img
          %img{height: "306", width: "200", src: "assets/icon-01.png"}
        %h3.Item__subtitle 簡単に売り買いできる
        %p.Item__detail スマホひとつで、いつでもどこでも簡単に出品・購入が可能！
      .Item
        .Item__img
          %img{height: "306", width: "200", src: "assets/icon-03.png"}
        %h3.Item__subtitle 売上金は即日振込みに対応
        %p.Item__detail 午前9時までに振込を依頼いただければ、翌日に指定の口座に入金いたします!
      .Item
        .Item__img
          %img{height: "306", width: "200", src: "assets/icon-04.png"}
        %h3.Item__subtitle 様々な支払いに対応
        %p.Item__detail お支払いは、クレジットカードだけでなく、ポイントや売上金など多彩な方法があります。
  .PickupContent
    %h2.head ピックアップカテゴリー
    %h2.ProductHead 新規投稿商品  
    .ProductBox
      %ul.ProductLists
        %li.ProductList
          .ProductList__img
            %img{height: "150", width: "220", src: "assets/m19406876484_1.jpg"}
          .ProductList__Body
            %h3.name ee
            %p.price 1000円
            %p.tax (税込)
        %li.ProductList
          .ProductList__img
            %img{height: "150", width: "220", src: "assets/m43330203980_1.jpg"}
          .ProductList__Body
            %h3.name product3
            %p.price 1000円
            %p.tax (税込)
        %li.ProductList
          .ProductList__img
            %img{height: "150", width: "220", src: "assets/m79202519302_1.jpg"}
          .ProductList__Body
            %h3.name product2
            %p.price 1000円
            %p.tax (税込)
        %li.ProductList
          .ProductList__img
            %img{height: "150", width: "220", src: "assets/m89607179397_1.jpg"}
          .ProductList__Body
            %h3.name product1
            %p.price 1000円
            %p.tax (税込)
  .PickupContent
    %h2.head ピックアップブランド
    %h2.ProductHead アーカイバ
    .ProductBox
      %ul.ProductLists
        %li.ProductList
          .ProductList__img
            %img{height: "150", width: "220", src: "assets/m31802894843_1.jpg"}
          .ProductList__Body
            %h3.name ee
            %p.price 1000円
            %p.tax (税込)
        %li.ProductList
          .ProductList__img
            %img{height: "150", width: "220", src: "assets/m37656795146_1.jpg"}
          .ProductList__Body
            %h3.name product3
            %p.price 1000円
            %p.tax (税込)
        %li.ProductList
          .ProductList__img
            %img{height: "150", width: "220", src: "assets/m40806625909_1.jpg"}
          .ProductList__Body
            %h3.name product2
            %p.price 1000円
            %p.tax (税込)
        %li.ProductList
          .ProductList__img
            %img{height: "150", width: "220", src: "assets/m59665247876_1.jpg"}
          .ProductList__Body
            %h3.name product1
            %p.price 1000円
            %p.tax (税込)
  %aside.AppAdvertisement
    .Inner
      %h2.Inner__title だれでもかんたん、人生を変えるフリマアプリ
      %p.inner__text 今すぐ無料ダウンおロード
      .Inner__btn
        %a.aBtn
          %img{height: "53", width: "180", src: "assets/applogo.png"}
        %a.gBtn
          %img{height: "53", width: "180", src: "assets/googlebtn.png"}