* {
  box-sizing: border-box;
}

.MainSearch-Container{
  width:1020;
  margin: 40px 185px;;
  height: 1340px;
  display: flex;
  padding-bottom: 40px;
  
}

.Search-side-container{
  width: 280px;
  height: 1230px;
  background-color:#ffffff;
  margin-right: 40px;
}

select{
  height: 48px;
  width: 280px;
  padding: 0 16px;
  font-size: 16px;
  margin: 8px 0 40px 0;
}

.serach-side-dropdown{
  padding: 16px;

  
  h3{
    font-size: 16px;
    font-weight: bold; 
    margin-bottom: 24px;
  }

  input.input-default{
    height: 48px;
    width: 248px;
    margin: 8px 0 40px 0;
  }

  span{
    font-size: 14px;
    font-weight: bold;
    color: #333333;
    margin-bottom: 8px;
  }

  select{
    height: 48px;
    width: 248px;
    padding: 0 16px;
    font-size: 16px;
  }

  span{
    font-size: 14px;
    font-weight: bold;
    color: #333333;
  }
}

select.price__range{
  margin-bottom: 8px;
}

.Form-group-searchBrand{
  width: 248px;

}

select.price__range{
  margin-top: 8px;
}

.Price__Max--Min{
  display: flex;
  width: 248px;
  height: 48px;
  margin-bottom: 8px;

  input{
    width: 120px;
    margin-top: 0px;
  }
}

.Products__Condition--checkboxes{
margin-top: 40px;
justify-content: space-between;

  .Products__Condition{
    display: flex;
    justify-content: space-between;
  }
}
.Shipping__cost{

    .Shipping__cost--head{
    margin-top: 40px;
    }

  .Shipping__cost--checkboxes{
  display: flex;
  justify-content: space-between;
  }
}

.Selling__status{
  margin-top: 40px;
  .Selling__status--checkboxes{
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
  }
}

.Search__Btn--Options{
  display: flex;
  justify-content: space-between;
  padding-top: 40px;

  button.clear{
    height: 50px;
    width: 112px;
    font-size: 14px;
    color:#ffffff;
    background-color: #AAAAAA;
    border: none;
    border-radius: 3px;}

  button.complete{
    height: 50px;
    width: 112px;
    font-size: 14px;
    color:#ffffff;
    background-color: #EA352D;
    border: none;
    border-radius: 3px;}
  }

  .BuyBtn {
    width: 120px;
    height: 110px;
    background: #3ccace;
    text-align: center;
    border-radius: 4%;
    bottom: 32px;
    right: 32px;
    position: fixed;
    line-height: 30px;
    z-index: 100;
    padding-top: 15px;
  
    span {
      font-size: 18px;
      color: #fff;
      vertical-align: middle;
    }
  }
  


.Search-result-container{
  width: 700px;
  height: 1100px;

  
  .Search-result-head{
    width: 100%;
    height: 30px;
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 8px;
  }

  .Search-result-number{
    font-size: 12px;
    margin: 16px 0;
  }
  .Products-box-contents{
    width: 100%;
    height: 238px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    

    .Products-box-product{
      width: 160px;
      height: 238px;
      margin: 0 0 20px 15px;
      position: relative;

      .products-sold {
        width: 0;
        height: 0;
        border-width: 100px 100px 0 0;
        border-color: #ea352d transparent transparent transparent;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        border-style: solid;
        &__inner {
          top: -80px;
          font-size: 20px;
          position: absolute;
          left: 0;
          z-index: 2;
          color: #fff;
          transform: rotate(-45deg);
          letter-spacing: 2px;
          font-weight: 600;
        }
      }
      
      

      .ProductList__img{
        height: 160px;
        width: 160px;
        
      }
    

      .Product-deatail-BottomBox{
        height: 78px;
        width: 100%;
        padding: 16px;
        background-color:#ffffff;
      
      }
    }
  }
}

